#navContainer {
    display: inline-flex;
}

#navMain{
    background-color: #40566B !important;
}

#topBox {
    color: green;
}  

#topCard {
    background-image: url("../img/solarSunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}